<md-toolbar color="primary">

    <span>
        <img class="logo" src="/images/love-birds.png">
    </span>

    <span><h1 class="center-text">Song birds</h1></span>
    <button md-icon-button >
        <md-icon>more_vert</md-icon>
    </button>

</md-toolbar>
<div class="app-body">
    <md-card >
        <div>
            <md-card-title *ngIf="currentUser" class="center-text padding-5">
                <h2 class="no-margin">Hi {{currentUser.display_name}}</h2>
                <img class="image" src="{{currentUser.images[0].url}}">
            </md-card-title>
            <loader  [showLoader] = "!currentUser"></loader>
        </div>

            <md-card class="playlist-selector">
                <div *ngIf="currentUser">
                    <md-card-title class="center-text no-margin">
                        <h3 class="no-margin">Your playlists</h3>
                        <img class="image medium boxy" style="position:absolute; left:10px;top:10px;" src="{{currentUser.images[0].url}}">
                    </md-card-title>
                    <md-card-content *ngIf="currentUser.playlists">
                        <md-list>
                            <md-list-item class="playlist-list-item"*ngFor="let playlist of currentUser.playlists">
                                <md-card md-ripple [mdRippleColor]="white" class="playlist-list-card hover background-accent" [class.selected-left] ="playlist.id === selectedPlaylistLeft.id" (click)="setLeftPlaylist(playlist)">
                                    <md-card-title >
                                        <img md-list-avatar src="{{playlist.images[0].url}}">
                                        {{playlist.name}}
                                    </md-card-title>
                                </md-card>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                    <loader [showLoader] = "!currentUser.playlists"></loader>
                </div>
            </md-card>
            <div class="selection-box center-text">
                <h3>Playlists to compare</h3>

                <button md-raised-button color="primary" class="center">Compare</button>
            </div>
            <md-card class="playlist-selector right">
                <div *ngIf="currentUser">
                    <md-card-title class="center-text no-margin">
                        <h3 class="no-margin">Your playlists</h3>
                        <img class="image medium boxy" style="position:absolute; left:10px;top:10px;" src="{{currentUser.images[0].url}}">
                    </md-card-title>
                    <md-card-content *ngIf="currentUser.playlists">
                        <md-list>
                            <md-list-item class="playlist-list-item"*ngFor="let playlist of currentUser.playlists">
                                <md-card md-ripple [mdRippleColor]="white" class="playlist-list-card hover background-accent" [class.selected-left] ="playlist.id === selectedPlaylistLeft.id" (click)="setLeftPlaylist(playlist)">
                                    <md-card-title >
                                        <img md-list-avatar src="{{playlist.images[0].url}}">
                                        {{playlist.name}}
                                    </md-card-title>
                                </md-card>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                    <loader [showLoader] = "!currentUser.playlists"></loader>
                </div>
            </md-card>


    </md-card>

</div>


